extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p  Candy Cakes to help people find cakes and gifts for their friends.
       <br /><br /> You are welcome to speak with Mr and Mrs Candier to place your order.
       L