extends layout
block content
  .row.banner
    .col-12
      h1 Candy Cakes
        small &nbsp;Cakes near me!
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location")  Birthday Cakes
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address Candy Creams
          p.facilities
            span.badge.badge-warning Smells are free! 
            span.badge.badge-warning Crazy with Cakes!
            span.badge.badge-warning Age Gracefully!

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location")  Valentines Cakes
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 400m
          p.address Forever us!
          p.facilities
            span.badge.badge-warning Nice and Big! 
            span.badge.badge-warning Appreciate true love!
            span.badge.badge-warning Kiss and share!

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location")  Anniversary Cakes
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 150m
          p.address How it was!
          p.facilities
            span.badge.badge-warning We used to be! 
            span.badge.badge-warning Crazy in love!
            span.badge.badge-warning Can we just go back!
    .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location")  Wedding Cakes
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 250m
          p.address Will you promise!
          p.facilities
            span.badge.badge-warning Sharing this cake! 
            span.badge.badge-warning With you baby!
            span.badge.badge-warning I love you!         

 .col-12.col-md-4
   p.lead Make your friends and lovers happy by sharing these luscious tempting cakes!